{% extends 'weather_home/base.html' %}
{% load static %}

{% block content %}
<p>WeatherPie Version 1.0. 

<p>WeatherPie is an open source weather website devloped using <a href="https://www.djangoproject.com/" target="_blank">Django</a> and Python. The weather data is extracted from <a href="https://openweathermap.org/" target="_blank">OpenWeatherMap</a> API and location search is powered by <a href="https://geopy.readthedocs.io/" target="_blank">GeoPy</a>.</p>

<p>You can view and download the full source code for this project from <a href="https://github.com/ritijjain/weather-pie" target="_blank">GitHub</a>.</p>

<p>Powered by OpenWeatherMap API. Devloped by <a href="https://ritijjain.com" target="_blank">Ritij Jain</a>.</p>

{% endblock content %}